<div class="card">
    <div class="card-body bg-light">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">DNI</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let visitor of listaVisitantes">
                <td>{{visitor.name}}</td>
                <td>{{visitor.firstName}}</td>
                <td>{{visitor.document}}</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
