<div class="card">
    <div class="card-body">
            <div class="input-group mb-3">
                <input [(ngModel)]="nameForm" type="text" class="form-control" placeholder="Nombre">
                <input [(ngModel)]="firstNameForm" type="text" class="form-control" placeholder="Apellido">
            
            </div>
            <div class="input-group mb-3">
                <input [(ngModel)]="documentForm" type="text" class="form-control" placeholder="DNI">
                <button (click)="addVisitor()" class="btn btn-primary">Añadir</button>
            </div>
    </div>
</div>

